h1{
    color:black;
    text-align: center;
}
p{
  color: #012743;
}
button{
background-color: rgb(250, 248, 246);
height: 35px;

}
div{
  background-image: url(https://img.freepik.com/premium-photo/summer-time-background-model-airplane-pink-camera-blue-background_331309-1477.jpg?w=900);
 display: flex;
 width: 70%;
 margin-left: 30%;
 justify-content: center;
  align-items: center;

  
}
.thdiv{
  background-color:red;
}
input{
  background-color:transparent;
  border-color: #d1e4f3;
  color: #012743;
  height: 35px;
  width: 250px;
  margin-bottom:15px;

}
select{
  background-color:transparent;
  border-color: #d1e4f3;
  color: #012743;
  height: 35px;
  width: 150px;
  margin-bottom:15px;
}
.maindiv {
  justify-content: center;
  align-items: center;
  background-color: #e43131;
  width: 100vw;
}

.responsive{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: green;
display: flex;
align-items: center;
height: 500px;


}
.responsive > div {
    
        width: 25%;
        margin: 10px;
        height: 20%;
        background-color: red;
        text-align: center;
        
        
}


/*@media screen and (max-width: 600px) {
    .innerbox {
      flex-basis: 100%;
    }
    .innerbox1 {
        flex-basis: 100%;
      }
      .innerbox2 {
        flex-basis: 100%;
      }
      .innerbox3{
        flex-basis: 100%;
      }
}*/
